@import "fonts";
@import "slick";
@import "hamburger";
h1{
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    color: #2C2C2C;
    @media (max-width: 576px){
        font-size: 48px;
    }
    @media (max-width: 400px){
        font-size: 38px;
        line-height: 38px;
    }
}
h2{
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 150%;
    color: #2C2C2C;
}
h3{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.25px;
    color: #2C2C2C;
}
body{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #2C2C2C;
    margin: 0;
    padding: 0;
}
.container{
    width: 1110px;
    margin: 0 auto;
    @media (max-width: 1400px){
        width: 1140px;
    }
    @media (max-width: 1200px){
        width: 960px;
    }
    @media(max-width: 992px){
        width: 720px;
    }
    @media(max-width: 768px){
        width: 540px;
    }
    @media (max-width: 576px){
        width: 80%;
    }
    &_wide {
        width: 1556px;
        @media (max-width: 1400px){
            width: 1140px;
        }
    }
}
@import "header";
@import "section1";
@import "section2";